@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background-color: #0B0B0B;
}

p{
    margin: 0;
}

.header{
    font-size: 26px;
    background-color: #7300FF;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.links{
    border: 2px auto;
    border-color: #7300FF;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
    color: #E49701;
    text-decoration: none;
    display: inline-block;
}

.links:hover{
    border: 2px auto;
    border-color: #7300FF;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
    color: #E49701;
    text-decoration: none;
    display: inline-block;
    background-color: #1A1A1A;
}