@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

.header{
    font-size: 26px;
    background-color: darkslategray;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.links{
    border: 2px auto;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    text-align: center;
    color: darkorange;
    text-decoration: none;
    display: inline-block;
}